@debug '[codepen.scss] - running...';

/* yek-sass (https://github.com/yek-org/yek-sass) */
@mixin --clear-list {
  list-style-type: none;
  @include --clear-space;
}
@mixin --clear-btn {
  border: 0;
  outline: 0;
  stroke: 0;
  box-shadow: 0;
  cursor: pointer;
}
@mixin --btn-effect {
  &:active {
    transform: scale(0.8);
  }
}
@mixin --radius($offset: 9) {
  border-radius: unquote('#{$offset}px');
}
@mixin --clear-fab(
  $position: (
    bottom: 15px,
    right: 20px,
  ),
  $offset: 60,
  $radius: 60
) {
  @include --clear-btn;
  $size: unquote('#{$offset}px');
  @include size($size, $size);
  @include fixed(
    $top: map-get($position, top),
    $bottom: map-get($position, bottom),
    $right: map-get($position, right),
    $left: map-get($position, left)
  );
  @include --radius($radius);
  z-index: 99990;
  @include --btn-effect;
}
@mixin --clear-space {
  padding: 0;
  margin: 0;
}

@mixin --image-cover {
  @include --clear-space;
  @include size;
  object-fit: cover;
}
@mixin --ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin width($w: null, $max: null, $min: null) {
  @if $w == null and $max == null and $min == null {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  @if $w not null {
    width: $w;
  }
  @if $max not null {
    max-width: $max;
  }
  @if $min not null {
    min-width: $min;
  }
}
@mixin height($h: null, $max: null, $min: null) {
  @if $h == null and $max == null and $min == null {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  @if $h not null {
    height: $h;
  }
  @if $max not null {
    max-height: $max;
  }
  @if $min not null {
    min-height: $min;
  }
}
@mixin align($ver: null, $hor: null, $content: null) {
  @if $hor == null and $ver == null {
    align-items: center;
    justify-content: center;
  }
  @if $hor not null {
    align-items: $hor; // hor
  }
  @if $ver not null {
    justify-content: $ver; // ver
  }
  @if $content not null {
    align-content: $content;
  }
}
@mixin aligns($align: center) {
  @include align($align, $align, $align);
}
@mixin flex($dir: row, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}
@mixin size($w: null, $h: null) {
  @if $w == null and $h == null {
    width: 100%;
    height: 100%;
  }
  @if $w not null {
    width: $w;
  }
  @if $h not null {
    height: $h;
  }
}

@mixin case($case: null) {
  $_case: none;
  @if $case == lower or $case == lowercase {
    $_case: lowercase;
  } @else if $case == upper or $case == uppercase {
    $_case: uppercase;
  } @else if $case == title or $case == capitalize {
    $_case: capitalize;
  } @else if $case == full or $case == full-width {
    $_case: full-width;
  } @else if $case == null or $case == none {
    $_case: none;
  } @else {
    $_case: none;
  }
  text-transform: $_case;
}

// under developing
@mixin transform($transform: null) {
  @if $transform not null {
    transform: $transform;
  }
}
@mixin translate($x: null, $y: null, $z: null) {
  @if $z not null {
    @include transform(translateZ($z));
  }
  @if $y not null {
    @include transform(translateY($y));
  }
  @if $x not null {
    @include transform(translateX($x));
  }
}

@mixin scale($x: null, $y: null, $z: null) {
  @if $z not null {
    @include transform(scaleZ($z));
  }
  @if $y not null {
    @include transform(scaleY($y));
  }
  @if $x not null {
    @include transform(scaleX($x));
  }
}

@mixin rotate($z: null, $x: null, $y: null) {
  @if $z not null {
    @include transform(rotateZ($z));
  }
  @if $y not null {
    @include transform(rotateY($y));
  }
  @if $x not null {
    @include transform(rotateX($x));
  }
}

// under developing
@mixin position(
  $type: null,
  $top: null,
  $left: null,
  $bottom: null,
  $right: null
) {
  @if $type not null {
    position: $type;
  }
  @if $top not null {
    top: $top;
  }
  @if $left not null {
    left: $left;
  }
  @if $bottom not null {
    bottom: $bottom;
  }
  @if $right not null {
    right: $right;
  }
}
@mixin absolute($top: null, $left: null, $bottom: null, $right: null) {
  @include position(absolute, $top, $left, $bottom, $right);
}
@mixin fixed($top: null, $left: null, $bottom: null, $right: null) {
  @include position(fixed, $top, $left, $bottom, $right);
}
@mixin relative($top: null, $left: null, $bottom: null, $right: null) {
  @include position(relative, $top, $left, $bottom, $right);
}

// TODO : color maps

// google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.2s ease all;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'sans-serif';
}

body {
  @include flex(column);
  @include width(100vw);
  @include height($min: 100vh);
}
